
body {
    background: white;

    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;

}



a {
    color: #6EA019;
    text-decoration: none;    
}

footer {
    font-size: 0.8em;
}
